


body {
    background-color: black;
}

nav {
    display: flex;
    margin: 0 auto 10px auto;
    width: 50%;
    justify-content: center;
}

nav p {
    padding-bottom: 0;

}

nav .link {
    margin: 0 50px;
    font-size: 2rem;
}

.link.underline {
    border-bottom: 1px solid #d6d6d6;
}

.link p {
    color: white;
}

.link a {
    text-decoration: none;
}

.container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

form {
    width: 80%;
    margin: 0 auto;
}

form input {
    width: 40%;
    height: 20px;
    margin: 0 auto;
}

.container form p {
    color: white;
    text-align: center;
    font-size: 1.4rem;
    margin: 15px 0;
}

.add_item.container {
    height: 900px;
}

.disease-item {
    margin: 10px;
    padding: 20px 10px;
    font-size: 1.4rem;
    width: 30%;
    line-height: 35px;
    border: 1px solid grey;
    border-radius: 3%;
    background-color: #d6d6d6;
}

.disease-item img {
    width: 100%;
    height: 280px;
    border: 1px solid black;
    border-radius: 3%;

}
